extends layout

block scripts
  script(src='/javascripts/index.js')

block content
  div.row
    div.span12
      p
  div.row
    div.span12
      button#addsong.btn.btn-primary.pull-right
        i.icon-music.icon-white
        span  Add song
  div.row
    div.span12
      table.table.table-hover
        thead
          tr
            th Id
            th Song
            th Controls
        tbody
          tr
            td.songid 1
            td.songname salsalsesson.mp3
            td
              button.view.btn.btn-success
                i.icon-play.icon-white
                span  View
              button.edit.btn.btn-warning
                i.icon-edit.icon-white
                span  Edit
              button.delete.btn.btn-danger
                i.icon-trash.icon-white
                span  Delete
          tr#addnew
            td
            td
              input#newsongname(type="text", name="newsong")
            td
              button#save.btn.btn-primary Save
              button#cancel.btn.btn-inverse Cancel
