extends layout

block content
	div(class="container")
		h1= title
		p Welcome to #{title}
		div.row
			div.span4
				audio(controls="controls")
					source(src="files/salsalesson.mp3", type="audio/mp3")
			div.span5
				button#steps.btn.btn-primary Add steps
				button#steps-clear.btn.btn-danger Clear
				button#generate.btn.btn-info Generate