extends layout

block scripts
  script(src='/javascripts/big.js')
  script(src='/javascripts/soundmanager2.js')
  script(src='/javascripts/zeroTimeout.js')
  script(src='/javascripts/main.js')
  script(src='/javascripts/view.js')
block heading
  h1= title
  p Viewing #{title}

block content
  div.row
    div.span12
      p
  div.row
    div.span12
      p#wait.alert.alert-info Please wait for the music to start playing!
  div.row
    div.span12
      div#counter
  div.row
    div.span12
  div.row
    div#stepdisplay.span12
      div.span3.leftright.dancesection
        h4 Basic step (side to side)
        div.row
        div.row
          div.span1
            div.stepcontainer
              div.step.left
          div.span1
            div.stepcontainer
              div.step.center
          div.span1
            div.stepcontainer
              div.step.right
        div.row
      div.span3.guapea-man.dancesection
        h4 Guapea (man)
        div.row
          div.span1
          div.span1
            div.stepcontainer
              div.step.top
          div.span1
        div.row
          div.span1
            div.stepcontainer
              div.step.left
          div.span1
            div.stepcontainer
              div.step
          div.span1
            div.stepcontainer
              div.step.right
        div.row
          div.span1
          div.span1
            div.stepcontainer
              div.step.bottom
          div.span1
      div.span3.frontback.dancesection
        h4 Basic step (front to back)
        div.row
          div.span1
          div.span1
            div.stepcontainer
              div.step.top
          div.span1
        div.row
          div.span1
          div.span1
            div.stepcontainer
              div.step.center
          div.span1
        div.row
          div.span1
          div.span1
            div.stepcontainer
              div.step.bottom
          div.span1
      div.span3.dancesection.filler
      div.span3.guapea-woman.dancesection
        h4 Guapea (woman)
        div.row
          div.span1
          div.span1
            div.stepcontainer
              div.step.top
          div.span1
        div.row
          div.span1
            div.stepcontainer
              div.step.left
          div.span1
            div.stepcontainer
              div.step
          div.span1
            div.stepcontainer
              div.step.right
        div.row
          div.span1
          div.span1
            div.stepcontainer
              div.step.bottom
          div.span1
