extends layout

block scripts
    script(src='/javascripts/view.js')
block heading
    h1= title
    p Editing #{title}

block content
    div.row
        div.span12
            p
    div.row
        div.span4
        div.span4
            audio(controls="controls")
                source(src=path, type="audio/mp3")
        div.span4
    div.row
        div.span2
        div.span8
            div#counter
        div.span2
    div.row
        div.span1
        div.span10
            div#stepdisplay.row
                div.row
                    div.span1
                    div.span1.step.top
                div.row
                    div.span1.step.left
                    div.span1
                    div.span1.step.right
                div.row
                    div.span1
                    div.span1.step.bottom
        div.span1