extends layout

block scripts
    script(src='/javascripts/view.js')
block heading
    h1= title
    p Viewing #{title}

block content
    div.row
        div.span12
            p
    div.row
        div.span4
        div.span4
            audio(controls="controls")
                source(src=path, type="audio/mp3")
        div.span4
    div.row
        div.span2
        div.span8
            div#counter
        div.span2
    div.row
        div.span1
        div.span10
            div.row
                div#stepdisplay.span12
                    div.span3.leftright.dancesection
                        h4 Basic step (side to side)
                        div.row
                        div.row
                            div.span1
                                div.stepcontainer
                                    div.step.left
                            div.span1
                                div.stepcontainer
                                    div.step.center
                            div.span1
                                div.stepcontainer
                                    div.step.right
                        div.row
                    div.span3.guapea.dancesection
                        h4 Guapea
                        div.row
                            div.span1
                            div.span1
                                div.stepcontainer
                                    div.step.top
                            div.span1
                        div.row
                            div.span1
                                div.stepcontainer
                                    div.step.left
                            div.span1
                                div.stepcontainer
                                    div.step
                            div.span1
                                div.stepcontainer
                                    div.step.right
                        div.row
                            div.span1
                            div.span1
                                div.stepcontainer
                                    div.step.bottom
                            div.span1
                    div.span3.frontback.dancesection
                        h4 Basic step (front to back)
                        div.row
                            div.span1
                            div.span1
                                div.stepcontainer
                                    div.step.top
                            div.span1
                        div.row
                            div.span1
                            div.span1
                                div.stepcontainer
                                    div.step.center
                            div.span1
                        div.row
                            div.span1
                            div.span1
                                div.stepcontainer
                                    div.step.bottom
                            div.span1