body {
	background: #49AFCD;
}
div.container {
	background: #fff;
}
div.content {
	height: 1000px;
}
div#counter {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}
div#counter .badge {
	zoom: 10;
}